.env
.vscode/
.DS_Store
Thumbs.db
*.log

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/*.tfvars
terraform/student-feedback-key
terraform/student-feedback-key.pub
terraform/*.pem