USE [StudentFeedbackSystem]
GO
/****** Object:  Trigger [trg_db_audit_audit_logs]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP TRIGGER IF EXISTS [security].[trg_db_audit_audit_logs]
GO
/****** Object:  Trigger [trg_db_audit_users]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP TRIGGER IF EXISTS [app].[trg_db_audit_users]
GO
/****** Object:  Trigger [trg_db_audit_feedback]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP TRIGGER IF EXISTS [app].[trg_db_audit_feedback]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[users]') AND type in (N'U'))
ALTER TABLE [app].[users] DROP CONSTRAINT IF EXISTS [chk_users_role]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[feedback]') AND type in (N'U'))
ALTER TABLE [app].[feedback] DROP CONSTRAINT IF EXISTS [chk_feedback_type]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[feedback]') AND type in (N'U'))
ALTER TABLE [app].[feedback] DROP CONSTRAINT IF EXISTS [chk_feedback_status]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[feedback]') AND type in (N'U'))
ALTER TABLE [app].[feedback] DROP CONSTRAINT IF EXISTS [chk_feedback_category]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[security].[audit_logs]') AND type in (N'U'))
ALTER TABLE [security].[audit_logs] DROP CONSTRAINT IF EXISTS [fk_audit_user]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[feedback]') AND type in (N'U'))
ALTER TABLE [app].[feedback] DROP CONSTRAINT IF EXISTS [fk_feedback_user]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[security].[db_audit_logs]') AND type in (N'U'))
ALTER TABLE [security].[db_audit_logs] DROP CONSTRAINT IF EXISTS [DF__db_audit___creat__6FE99F9F]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[security].[audit_logs]') AND type in (N'U'))
ALTER TABLE [security].[audit_logs] DROP CONSTRAINT IF EXISTS [DF__audit_log__creat__5AEE82B9]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[users]') AND type in (N'U'))
ALTER TABLE [app].[users] DROP CONSTRAINT IF EXISTS [DF__users__created_a__4D94879B]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[users]') AND type in (N'U'))
ALTER TABLE [app].[users] DROP CONSTRAINT IF EXISTS [DF__users__failed_lo__4CA06362]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[users]') AND type in (N'U'))
ALTER TABLE [app].[users] DROP CONSTRAINT IF EXISTS [DF__users__role__4BAC3F29]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[feedback]') AND type in (N'U'))
ALTER TABLE [app].[feedback] DROP CONSTRAINT IF EXISTS [DF__feedback__update__5441852A]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[feedback]') AND type in (N'U'))
ALTER TABLE [app].[feedback] DROP CONSTRAINT IF EXISTS [DF__feedback__create__534D60F1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[feedback]') AND type in (N'U'))
ALTER TABLE [app].[feedback] DROP CONSTRAINT IF EXISTS [DF__feedback__status__52593CB8]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[feedback]') AND type in (N'U'))
ALTER TABLE [app].[feedback] DROP CONSTRAINT IF EXISTS [DF__feedback__type__5165187F]
GO
/****** Object:  Index [UQ__users__AB6E61641B22CF92]    Script Date: 20/5/2026 7:35:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[app].[users]') AND type in (N'U'))
ALTER TABLE [app].[users] DROP CONSTRAINT IF EXISTS [UQ__users__AB6E61641B22CF92]
GO
/****** Object:  SecurityPolicy [security].[FeedbackRLS]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP SECURITY POLICY IF EXISTS [security].[FeedbackRLS]
GO
/****** Object:  Table [security].[db_audit_logs]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP TABLE IF EXISTS [security].[db_audit_logs]
GO
/****** Object:  Table [security].[audit_logs]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP TABLE IF EXISTS [security].[audit_logs]
GO
/****** Object:  Table [app].[users]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP TABLE IF EXISTS [app].[users]
GO
/****** Object:  Table [app].[feedback]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP TABLE IF EXISTS [app].[feedback]
GO
/****** Object:  UserDefinedFunction [security].[fn_feedback_rls]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP FUNCTION IF EXISTS [security].[fn_feedback_rls]
GO
/****** Object:  Schema [security]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP SCHEMA IF EXISTS [security]
GO
/****** Object:  Schema [app]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP SCHEMA IF EXISTS [app]
GO

DECLARE @RoleName sysname
set @RoleName = N'app_role'

IF @RoleName <> N'public' and (select is_fixed_role from sys.database_principals where name = @RoleName) = 0
BEGIN
    DECLARE @RoleMemberName sysname
    DECLARE Member_Cursor CURSOR FOR
    select [name]
    from sys.database_principals 
    where principal_id in ( 
        select member_principal_id
        from sys.database_role_members
        where role_principal_id in (
            select principal_id
            FROM sys.database_principals where [name] = @RoleName AND type = 'R'))

    OPEN Member_Cursor;

    FETCH NEXT FROM Member_Cursor
    into @RoleMemberName
    
    DECLARE @SQL NVARCHAR(4000)

    WHILE @@FETCH_STATUS = 0
    BEGIN
        
        SET @SQL = 'ALTER ROLE '+ QUOTENAME(@RoleName,'[') +' DROP MEMBER '+ QUOTENAME(@RoleMemberName,'[')
        EXEC(@SQL)
        
        FETCH NEXT FROM Member_Cursor
        into @RoleMemberName
    END;

    CLOSE Member_Cursor;
    DEALLOCATE Member_Cursor;
END
/****** Object:  DatabaseRole [app_role]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP ROLE IF EXISTS [app_role]
GO
/****** Object:  User [feedback_security_user]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP USER IF EXISTS [feedback_security_user]
GO
/****** Object:  User [student_feedback_app]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP USER IF EXISTS [student_feedback_app]
GO
USE [master]
GO
/****** Object:  Database [StudentFeedbackSystem]    Script Date: 20/5/2026 7:35:29 PM ******/
DROP DATABASE IF EXISTS [StudentFeedbackSystem]
GO
/****** Object:  Database [StudentFeedbackSystem]    Script Date: 20/5/2026 7:35:29 PM ******/
CREATE DATABASE [StudentFeedbackSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentFeedbackSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\StudentFeedbackSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentFeedbackSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\StudentFeedbackSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentFeedbackSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentFeedbackSystem]
GO
/****** Object:  User [student_feedback_app]    Script Date: 20/5/2026 7:35:29 PM ******/
CREATE USER [student_feedback_app] FOR LOGIN [student_feedback_app] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [feedback_security_user]    Script Date: 20/5/2026 7:35:29 PM ******/
CREATE USER [feedback_security_user] FOR LOGIN [feedback_security_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [app_role]    Script Date: 20/5/2026 7:35:29 PM ******/
CREATE ROLE [app_role]
GO
ALTER ROLE [app_role] ADD MEMBER [student_feedback_app]
GO
GRANT CONNECT TO [feedback_security_user] AS [dbo]
GO
GRANT VIEW DEFINITION TO [feedback_security_user] AS [dbo]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
DENY VIEW DEFINITION TO [student_feedback_app] AS [dbo]
GO
GRANT CONNECT TO [student_feedback_app] AS [dbo]
GO
/****** Object:  Schema [app]    Script Date: 20/5/2026 7:35:29 PM ******/
CREATE SCHEMA [app]
GO
GRANT DELETE ON SCHEMA::[app] TO [app_role] AS [dbo]
GO
GRANT INSERT ON SCHEMA::[app] TO [app_role] AS [dbo]
GO
GRANT SELECT ON SCHEMA::[app] TO [app_role] AS [dbo]
GO
GRANT UPDATE ON SCHEMA::[app] TO [app_role] AS [dbo]
GO
GRANT VIEW DEFINITION ON SCHEMA::[app] TO [feedback_security_user] AS [dbo]
GO
/****** Object:  Schema [security]    Script Date: 20/5/2026 7:35:29 PM ******/
CREATE SCHEMA [security]
GO
GRANT INSERT ON SCHEMA::[security] TO [app_role] AS [dbo]
GO
GRANT SELECT ON SCHEMA::[security] TO [app_role] AS [dbo]
GO
GRANT VIEW DEFINITION ON SCHEMA::[security] TO [feedback_security_user] AS [dbo]
GO
/****** Object:  UserDefinedFunction [security].[fn_feedback_rls]    Script Date: 20/5/2026 7:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [security].[fn_feedback_rls]
(
    @user_id INT
)
RETURNS TABLE
WITH SCHEMABINDING
AS
RETURN
(
    SELECT 1 AS fn_security_predicate_result
    WHERE
        @user_id = CAST(SESSION_CONTEXT(N'ActiveUserID') AS INT)
        OR CAST(SESSION_CONTEXT(N'ActiveUserRole') AS NVARCHAR(20)) = N'admin'
);
GO
/****** Object:  Table [app].[feedback]    Script Date: 20/5/2026 7:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [varchar](150) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[category] [varchar](50) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[admin_response] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [app].[users]    Script Date: 20/5/2026 7:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[email] [varchar](100) MASKED WITH (FUNCTION = 'email()') NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[failed_login_attempts] [int] NOT NULL,
	[locked_until] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[audit_logs]    Script Date: 20/5/2026 7:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[audit_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [varchar](100) NOT NULL,
	[details] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [security].[db_audit_logs]    Script Date: 20/5/2026 7:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[db_audit_logs](
	[db_log_id] [int] IDENTITY(1,1) NOT NULL,
	[table_name] [varchar](100) NOT NULL,
	[action_type] [varchar](20) NOT NULL,
	[record_id] [int] NULL,
	[performed_by] [varchar](200) NOT NULL,
	[details] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[db_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  SecurityPolicy [security].[FeedbackRLS]    Script Date: 20/5/2026 7:35:29 PM ******/
CREATE SECURITY POLICY [security].[FeedbackRLS] 
ADD FILTER PREDICATE [security].[fn_feedback_rls]([user_id]) ON [app].[feedback]
WITH (STATE = ON, SCHEMABINDING = ON)
GO
SET IDENTITY_INSERT [app].[users] ON 

INSERT [app].[users] ([user_id], [full_name], [email], [password_hash], [role], [failed_login_attempts], [locked_until], [created_at]) VALUES (1, N'Student2', N'student2@gmail.com', N'$2y$10$8QroVVf/3Ctms/2NrLXvSekbVTrWjNAihvk31AwyIwjH2rS4Vgqe.', N'student', 0, NULL, CAST(N'2026-05-20T12:32:39.177' AS DateTime))
INSERT [app].[users] ([user_id], [full_name], [email], [password_hash], [role], [failed_login_attempts], [locked_until], [created_at]) VALUES (2, N'admin1', N'admin1@gmail.com', N'$2y$10$LIfAzwLv0OXWzYfoynCawOhpqJ0EoGpw3gx2cs9Roym1IiZixaJ6S', N'admin', 0, NULL, CAST(N'2026-05-20T12:43:12.830' AS DateTime))
INSERT [app].[users] ([user_id], [full_name], [email], [password_hash], [role], [failed_login_attempts], [locked_until], [created_at]) VALUES (5, N'student3', N'student3@gmail.com', N'$2y$10$DyctE9cj2tjvLaxLjtwy1edE1xaqIphPfSIC6GE/ckrZhqU1W/hgS', N'student', 0, NULL, CAST(N'2026-05-20T16:51:05.480' AS DateTime))
SET IDENTITY_INSERT [app].[users] OFF
GO
SET IDENTITY_INSERT [security].[audit_logs] ON 

INSERT [security].[audit_logs] ([log_id], [user_id], [action], [details], [created_at]) VALUES (1, 1, N'USER_REGISTERED', N'New student account successfully created for: student2@gmail.com', CAST(N'2026-05-20T12:32:39.187' AS DateTime))
INSERT [security].[audit_logs] ([log_id], [user_id], [action], [details], [created_at]) VALUES (2, 1, N'USER_LOGIN', N'Successful login event for user identity: student2@gmail.com', CAST(N'2026-05-20T12:34:07.940' AS DateTime))
INSERT [security].[audit_logs] ([log_id], [user_id], [action], [details], [created_at]) VALUES (3, 1, N'DASHBOARD_ACCESS', N'Student accessed their dashboard.', CAST(N'2026-05-20T12:34:07.947' AS DateTime))
GO
SET IDENTITY_INSERT [security].[audit_logs] OFF
GO
SET IDENTITY_INSERT [security].[db_audit_logs] ON 

INSERT [security].[db_audit_logs] ([db_log_id], [table_name], [action_type], [record_id], [performed_by], [details], [created_at]) VALUES (1, N'feedback', N'UPDATE', 1, N'MSI\User', N'Feedback record updated. Old status: Resolved, New status: Resolved, Title: Slow wifi', CAST(N'2026-05-20T16:14:37.733' AS DateTime))
INSERT [security].[db_audit_logs] ([db_log_id], [table_name], [action_type], [record_id], [performed_by], [details], [created_at]) VALUES (2, N'audit_logs', N'INSERT', 46, N'student_feedback_app', N'Application audit log inserted. Action: LOGOUT', CAST(N'2026-05-20T16:14:56.103' AS DateTime))
INSERT [security].[db_audit_logs] ([db_log_id], [table_name], [action_type], [record_id], [performed_by], [details], [created_at]) VALUES (3, N'users', N'UPDATE', 2, N'student_feedback_app', N'xxxx', CAST(N'2026-05-20T16:14:59.583' AS DateTime))
SET IDENTITY_INSERT [security].[db_audit_logs] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61641B22CF92]    Script Date: 20/5/2026 7:35:29 PM ******/
ALTER TABLE [app].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [app].[feedback] ADD  DEFAULT ('Feedback') FOR [type]
GO
ALTER TABLE [app].[feedback] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [app].[feedback] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [app].[feedback] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [app].[users] ADD  DEFAULT ('student') FOR [role]
GO
ALTER TABLE [app].[users] ADD  DEFAULT ((0)) FOR [failed_login_attempts]
GO
ALTER TABLE [app].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [security].[audit_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [security].[db_audit_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [app].[feedback]  WITH CHECK ADD  CONSTRAINT [fk_feedback_user] FOREIGN KEY([user_id])
REFERENCES [app].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [app].[feedback] CHECK CONSTRAINT [fk_feedback_user]
GO
ALTER TABLE [security].[audit_logs]  WITH CHECK ADD  CONSTRAINT [fk_audit_user] FOREIGN KEY([user_id])
REFERENCES [app].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [security].[audit_logs] CHECK CONSTRAINT [fk_audit_user]
GO
ALTER TABLE [app].[feedback]  WITH CHECK ADD  CONSTRAINT [chk_feedback_category] CHECK  (([category]='Others' OR [category]='Student Affairs' OR [category]='IT' OR [category]='Hostel' OR [category]='Facilities' OR [category]='Academic'))
GO
ALTER TABLE [app].[feedback] CHECK CONSTRAINT [chk_feedback_category]
GO
ALTER TABLE [app].[feedback]  WITH CHECK ADD  CONSTRAINT [chk_feedback_status] CHECK  (([status]='Rejected' OR [status]='Resolved' OR [status]='In Progress' OR [status]='Pending'))
GO
ALTER TABLE [app].[feedback] CHECK CONSTRAINT [chk_feedback_status]
GO
ALTER TABLE [app].[feedback]  WITH CHECK ADD  CONSTRAINT [chk_feedback_type] CHECK  (([type]='Suggestion' OR [type]='Feedback' OR [type]='Complaint'))
GO
ALTER TABLE [app].[feedback] CHECK CONSTRAINT [chk_feedback_type]
GO
ALTER TABLE [app].[users]  WITH CHECK ADD  CONSTRAINT [chk_users_role] CHECK  (([role]='admin' OR [role]='student'))
GO
ALTER TABLE [app].[users] CHECK CONSTRAINT [chk_users_role]
GO
/****** Object:  Trigger [app].[trg_db_audit_feedback]    Script Date: 20/5/2026 7:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [app].[trg_db_audit_feedback]
ON [app].[feedback]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- INSERT
    IF EXISTS (SELECT 1 FROM inserted) AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO security.db_audit_logs
        (table_name, action_type, record_id, performed_by, details, created_at)
        SELECT
            'app.feedback',
            'INSERT',
            i.feedback_id,
            SYSTEM_USER,
            CONCAT('New feedback record inserted. Title: ', i.title, ', Status: ', i.status),
            GETDATE()
        FROM inserted i;
    END

    -- UPDATE
    IF EXISTS (SELECT 1 FROM inserted) AND EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO security.db_audit_logs
        (table_name, action_type, record_id, performed_by, details, created_at)
        SELECT
            'app.feedback',
            'UPDATE',
            i.feedback_id,
            SYSTEM_USER,
            CONCAT(
                'Feedback record updated. Old status: ',
                d.status,
                ', New status: ',
                i.status,
                ', Title: ',
                i.title
            ),
            GETDATE()
        FROM inserted i
        INNER JOIN deleted d
            ON i.feedback_id = d.feedback_id;
    END

    -- DELETE
    IF EXISTS (SELECT 1 FROM deleted) AND NOT EXISTS (SELECT 1 FROM inserted)
    BEGIN
        INSERT INTO security.db_audit_logs
        (table_name, action_type, record_id, performed_by, details, created_at)
        SELECT
            'app.feedback',
            'DELETE',
            d.feedback_id,
            SYSTEM_USER,
            CONCAT('Feedback record deleted. Title: ', d.title, ', Status: ', d.status),
            GETDATE()
        FROM deleted d;
    END
END;
GO
ALTER TABLE [app].[feedback] ENABLE TRIGGER [trg_db_audit_feedback]
GO
/****** Object:  Trigger [app].[trg_db_audit_users]    Script Date: 20/5/2026 7:35:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [app].[trg_db_audit_users]
ON [app].[users]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- INSERT
    IF EXISTS (SELECT 1 FROM inserted) AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO security.db_audit_logs
        (table_name, action_type, record_id, performed_by, details, created_at)
        SELECT
            'app.users',
            'INSERT',
            i.user_id,
            SYSTEM_USER,
            CONCAT('New user inserted. Email: ', i.email, ', Role: ', i.role),
            GETDATE()
        FROM inserted i;
    END

    -- UPDATE
    IF EXISTS (SELECT 1 FROM inserted) AND EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO security.db_audit_logs
        (table_name, action_type, record_id, performed_by, details, created_at)
        SELECT
            'app.users',
            'UPDATE',
            i.user_id,
            SYSTEM_USER,
            CONCAT(
                'User record updated. Email: ',
                i.email,
                ', Old role: ',
                d.role,
                ', New role: ',
                i.role
            ),
            GETDATE()
        FROM inserted i
        INNER JOIN deleted d
            ON i.user_id = d.user_id;
    END

    -- DELETE
    IF EXISTS (SELECT 1 FROM deleted) AND NOT EXISTS (SELECT 1 FROM inserted)
    BEGIN
        INSERT INTO security.db_audit_logs
        (table_name, action_type, record_id, performed_by, details, created_at)
        SELECT
            'app.users',
            'DELETE',
            d.user_id,
            SYSTEM_USER,
            CONCAT('User deleted. Email: ', d.email, ', Role: ', d.role),
            GETDATE()
        FROM deleted d;
    END
END;
GO
ALTER TABLE [app].[users] ENABLE TRIGGER [trg_db_audit_users]
GO
/****** Object:  Trigger [security].[trg_db_audit_audit_logs]    Script Date: 20/5/2026 7:35:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [security].[trg_db_audit_audit_logs]
ON [security].[audit_logs]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO security.db_audit_logs
    (table_name, action_type, record_id, performed_by, details, created_at)
    SELECT
        'security.audit_logs',
        'INSERT',
        i.log_id,
        SYSTEM_USER,
        CONCAT('Application audit log inserted. Action: ', i.action),
        GETDATE()
    FROM inserted i;
END;
GO
ALTER TABLE [security].[audit_logs] ENABLE TRIGGER [trg_db_audit_audit_logs]
GO
USE [master]
GO
