USE [master]
GO
/****** Object:  Database [StudentFeedbackSystem]    Script Date: 20/5/2026 2:04:02 PM ******/
CREATE DATABASE [StudentFeedbackSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentFeedbackSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\StudentFeedbackSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentFeedbackSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\StudentFeedbackSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentFeedbackSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentFeedbackSystem]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 20/5/2026 2:04:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [varchar](100) NOT NULL,
	[details] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 20/5/2026 2:04:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [varchar](150) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[category] [varchar](50) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[admin_response] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 20/5/2026 2:04:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[email] [varchar](100) MASKED WITH (FUNCTION = 'email()') NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[failed_login_attempts] [int] NOT NULL,
	[locked_until] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[audit_logs] ON 

INSERT [dbo].[audit_logs] ([log_id], [user_id], [action], [details], [created_at]) VALUES (1, 1, N'USER_REGISTERED', N'New student account successfully created for: student2@gmail.com', CAST(N'2026-05-20T12:32:39.187' AS DateTime))
INSERT [dbo].[audit_logs] ([log_id], [user_id], [action], [details], [created_at]) VALUES (2, 1, N'USER_LOGIN', N'Successful login event for user identity: student2@gmail.com', CAST(N'2026-05-20T12:34:07.940' AS DateTime))
INSERT [dbo].[audit_logs] ([log_id], [user_id], [action], [details], [created_at]) VALUES (3, 1, N'DASHBOARD_ACCESS', N'Student accessed their dashboard.', CAST(N'2026-05-20T12:34:07.947' AS DateTime))
SET IDENTITY_INSERT [dbo].[audit_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT [dbo].[feedback] ([feedback_id], [user_id], [title], [description], [category], [type], [status], [admin_response], [created_at], [updated_at]) VALUES (1, 1, N'Slow wifi', N'ENC::+fCb6lNmDnJZd3iWdfjZkew+ex1DwWFpRtWFY4A1o+YF+41xq73pePoU2eBdRxK5S0CQaRYtlfMDkVR4LytFLA==', N'IT', N'Complaint', N'Resolved', N'ENC::lNp0txF4A8zDH4R6BXpoRZ1vcdXH6eRdPJO097bgkME7VF0cZfCQSmYlL9XtFAdw', CAST(N'2026-05-20T12:37:38.220' AS DateTime), CAST(N'2026-05-20T12:46:17.277' AS DateTime))
SET IDENTITY_INSERT [dbo].[feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [full_name], [email], [password_hash], [role], [failed_login_attempts], [locked_until], [created_at]) VALUES (1, N'Student2', N'student2@gmail.com', N'$2y$10$8QroVVf/3Ctms/2NrLXvSekbVTrWjNAihvk31AwyIwjH2rS4Vgqe.', N'student', 0, NULL, CAST(N'2026-05-20T12:32:39.177' AS DateTime))
INSERT [dbo].[users] ([user_id], [full_name], [email], [password_hash], [role], [failed_login_attempts], [locked_until], [created_at]) VALUES (2, N'admin1', N'admin1@gmail.com', N'$2y$10$LIfAzwLv0OXWzYfoynCawOhpqJ0EoGpw3gx2cs9Roym1IiZixaJ6S', N'admin', 0, NULL, CAST(N'2026-05-20T12:43:12.830' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61641B22CF92]    Script Date: 20/5/2026 2:04:03 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[feedback] ADD  DEFAULT ('Feedback') FOR [type]
GO
ALTER TABLE [dbo].[feedback] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[feedback] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[feedback] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('student') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [failed_login_attempts]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [fk_audit_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [fk_audit_user]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [fk_feedback_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [fk_feedback_user]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [chk_feedback_category] CHECK  (([category]='Others' OR [category]='Student Affairs' OR [category]='IT' OR [category]='Hostel' OR [category]='Facilities' OR [category]='Academic'))
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [chk_feedback_category]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [chk_feedback_status] CHECK  (([status]='Rejected' OR [status]='Resolved' OR [status]='In Progress' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [chk_feedback_status]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [chk_feedback_type] CHECK  (([type]='Suggestion' OR [type]='Feedback' OR [type]='Complaint'))
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [chk_feedback_type]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [chk_users_role] CHECK  (([role]='admin' OR [role]='student'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [chk_users_role]
GO
USE [master]
GO
